@{
    Layout = "~/Views/Shared/_LayoutPilot.cshtml";
}

@using NRLObstacleReporting.db
@model NRLObstacleReporting.Models.ObstacleCompleteModel
@{
ViewData["Title"] = "View Reports";

}
@{
var reports = Localdatabase.GetDatabase();
if (reports.Count == 0)
{
<div class="text-center">
    <h1>No drafts registered</h1>
</div>
}
else
{


<div class="flex flex-col items-center justify-center space-y-8 w-full">
@foreach (var obstacle in drafts)
{
    <div class="overflow-auto rounded-lg shadow hidden md:block">
        <table class="w-full table-fixed border-collapse">
            <tbody class = "divide-y divide-gray-100">
            <tr class = "bg-gray-50">
                <th class="p-3 text-sm font-semibold tracking-wide text-left whitespace-nowrap"> Id </th>
                <td class="p-3 text-sm font-normal tracking-wide text-left whitespace-nowrap"> @obstacle.GetHashCode() </td>
                <button type="submit" formaction="/Obstacle/EditDraft">Edit</button>
            </tr>
        
            <tr class = "bg-white">
                <th class = "p-3 text-sm font-semibold tracking-wide text-left whitespace-nowrap"> Height </th>
                <td class = "p-3 text-sm font-normal tracking-wide text-left whitespace-nowrap">@obstacle.ObstacleHeightMeter</td>
            </tr>
            <tr class = "bg-gray-50">
                <th class = "p-3 text-sm font-semibold tracking-wide text-left">Coordinates</th>
                <td class = "p-3 text-sm font-normal tracking-wide text-left break-words"> @obstacle.GeometryGeoJson</td>
            </tr>
            <tr class = "bg-white">
                <th class = "p-3 text-sm font-semibold tracking-wide text-left whitespace-nowrap">Type</th>
                <td class = "p-3 text-sm font-normal tracking-wide text-left whitespace-nowrap">@obstacle.ObstacleType</td>
            </tr>
            <tr class = "bg-gray-50">
                <th class = "p-3 text-sm font-semibold tracking-wide text-left whitespace-nowrap">Illuminated</th>
                <td class = "p-3 text-sm font-normal tracking-wide text-left whitespace-nowrap">@obstacle.ObstacleIlluminated</td>
            </tr>
            <tr class = "bg-white">
                <th class = "p-3 text-sm font-semibold tracking-wide text-left whitespace-nowrap">Description</th>
                <td class = "p-3 text-sm font-normal tracking-wide text-left whitespace-nowrap">@obstacle.ObstacleDescription</td>
            </tr>
            <tr class = "bg-gray-50">
                <th class = "p-3 text-sm font-semibold tracking-wide text-left whitespace-nowrap">Name</th>
                <td class = "p-3 text-sm font-normal tracking-wide text-left whitespace-nowrap">@obstacle.ObstacleName</td>
            </tr>
            </tbody>
        </table>
    </div>
    
    <form asp-controller="Obstacle" asp-action="EditDraft" method="post">
        <div class = "md:hidden overflow-auto rounded-sm border border-gray-500 flex flex-col justify-center space-y-8 w-full">
        <table class= "w-full table-fixed border-collapse">
            <thead>
            
            
            </thead>
            <tbody>
            <tr class = "bg-gray-50">
                <th class="p-3 text-sm font-bold tracking-wide text-left whitespace-nowrap"> Id: @obstacle.GetHashCode()</th>
                <th class="p-3 text-sm font-bold tracking-wide text-left whitespace-nowrap"> </th>

            </tr>
            <tr>
                <th class="p-3 text-sm font-semibold tracking-wide text-left whitespace-nowrap"> Height </th>
                <td class="p-3 text-sm font-normal tracking-wide text-left whitespace-nowrap">@obstacle.ObstacleHeightMeter</td>
                
            </tr>
            <tr class = "bg-gray-50 w-full">
                <th class = "p-3 text-sm font-semibold tracking-wide text-left whitespace-nowrap">Type</th>
                <td class = "p-3 text-sm font-normal tracking-wide text-left whitespace-nowrap">@obstacle.ObstacleType</td>
            </tr>
            <tr class="bg-white w-full">
                <td colspan="2" class="p-0">
                    <button type="submit"
                            formaction="/Obstacle/EditDraft"
                            class="block w-full text-center bg-blue-300 hover:bg-blue-400 text-white font-semibold py-2 rounded-b-smd">
                        Edit
                    </button>
                </td>
            </tr>
            
            
            </tbody>
        </table>
    </div>
        <input type="hidden" asp-for="GeometryGeoJson" value="@obstacle.GeometryGeoJson" />
        <input type="hidden" asp-for="ObstacleDescription" value="@obstacle.ObstacleDescription"/>
        <input type="hidden" asp-for="ObstacleIlluminated" value="@obstacle.ObstacleIlluminated"/>
        <input type="hidden" asp-for="ObstacleName" value="@obstacle.ObstacleName"/>
        <input type="hidden" asp-for="ObstacleType" value="@obstacle.ObstacleType"/>
        <input type="hidden" asp-for="ObstacleHeightMeter" value="@obstacle.ObstacleHeightMeter"/>
        <input type="hidden" asp-for="ObstacleId" value="@obstacle.ObstacleId"/>
    </form>
}
</div>
}
}