@{
    Layout = "~/Views/Shared/_LayoutPilot.cshtml";
}

@using NRLObstacleReporting.db
@model NRLObstacleReporting.Models.ObstacleCompleteModel
@{
ViewData["Title"] = "View Reports";

}
@{
var reports = Localdatabase.GetDatabase();
if (reports.Count == 0)
{
<div class="text-center">
    <h1>No drafts registered</h1>
</div>
}
else
{
<div class="text-center">
    <h1> Registered drafts:</h1>
</div>

IEnumerable<ObstacleCompleteModel> drafts =
from Report in reports
where Report.IsDraft
select Report;

foreach (var obstacle in drafts)
{
<div>
    <table class="center">
        <caption>Obstacle Report: @obstacle.GetHashCode()</caption>
        <thead>
        <tr>
            <th scope="col">Data</th>
            <th scope="col">Response</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">Height</th>
            <td>@obstacle.HeightMeter</td>
        </tr>
        <tr>
            <th scope="row">Coordinates</th>
            <td>@obstacle.GeometryGeoJson</td>
        </tr>
        <tr>
            <th scope="row">Type</th>
            <td>@obstacle.Type</td>
        </tr>
        <tr>
            <th scope="row">Illuminated</th>
            <td>@obstacle.Illuminated</td>
        </tr>
        <tr>
            <th scope="row">Description</th>
            <td>@obstacle.Description</td>
        </tr>
        <tr>
            <th scope="row">Name</th>
            <td>@obstacle.Name</td>
        </tr>
        </tbody>
    </table>
    <form asp-controller="Obstacle" asp-action="EditDraft" method="post">
        <input type="hidden" asp-for="GeometryGeoJson" value="@obstacle.GeometryGeoJson" />
        <input type="hidden" asp-for="Description" value="@obstacle.Description"/>
        <input type="hidden" asp-for="Illuminated" value="@obstacle.Illuminated"/>
        <input type="hidden" asp-for="Name" value="@obstacle.Name"/>
        <input type="hidden" asp-for="Type" value="@obstacle.Type"/>
        <input type="hidden" asp-for="HeightMeter" value="@obstacle.HeightMeter"/>
        <input type="hidden" asp-for="ObstacleId" value="@obstacle.ObstacleId"/>
        
        <button type="submit" formaction="/Obstacle/EditDraft">Edit</button>
    </form>
</div>
}
}
}