@model IEnumerable<ObstacleCompleteModel>
@if (!Model.Any())
{
    <div class="text-center">
        <h1 class="text-2xl font-semibold text-gray-900 dark:text-gray-100">No reports registered</h1>
    </div>
}
else
{
    <div class="text-center mb-6">
        <h1 class="py-1 sm:py-4 mb-2 text-4xl font-bold text-gray-900 dark:text-gray-100">Registered reports</h1>
    </div>
}
@foreach (var report in Model)
{
    var mapId = report.ObstacleId;
    <div class="rounded-xl border border-[#1c2b45]/40 dark:border-[#0f172a]/40 bg-[#f8fafc] dark:bg-[#1e293b] shadow-[0_4px_12px_rgba(0,0,0,0.15)]
            p-4 mb-10 w-full transition-colors duration-300">
        <table class="w-full table-fixed border-collapse !bg-transparent !text-black dark:!text-gray-100">
            <tbody>
                <tr class="!bg-gray-200 dark:!bg-gray-700"> <!-- HEADER ROW -->
                    <th class="p-3 text-sm font-bold text-left !text-black dark:!text-gray-100">
                        Id: @report.ObstacleId
                    </th>
                    <th class="p-3"></th>
                </tr>
                <tr class="!bg-white dark:!bg-gray-800 border-b border-gray-200 dark:border-gray-700"> <!-- Height -->
                    <th class="p-3 text-sm font-semibold !text-black dark:!text-gray-100">Height</th>
                    <td class="p-3 text-sm !text-black dark:!text-gray-100">@report.HeightMeter</td>
                </tr>
                <tr class="!bg-gray-200 dark:!bg-gray-700 border-b border-gray-300 dark:border-gray-700"> <!-- Type -->
                    <th class="p-3 text-sm font-semibold !text-black dark:!text-gray-100">Type</th>
                    <td class="p-3 text-sm !text-black dark:!text-gray-100">@report.Type</td>
                </tr>
                <tr class="!bg-white dark:!bg-gray-800 border-b border-gray-200 dark:border-gray-700"> <!-- Name -->
                    <th class="p-3 text-sm font-semibold !text-black dark:!text-gray-100">Name</th>
                    <td class="p-3 text-sm !text-black dark:!text-gray-100">@report.Name</td>
                </tr>
                <tr class="!bg-gray-200 dark:!bg-gray-700 border-b border-gray-300 dark:border-gray-700"> <!-- Description -->
                    <th class="p-3 text-sm font-semibold !text-black dark:!text-gray-100">Description</th>
                    <td class="p-3 text-sm !text-black dark:!text-gray-100">@report.Description</td>
                </tr>
                <tr class="!bg-white dark:!bg-gray-800 border-b border-gray-200 dark:border-gray-700"> <!-- Illuminated -->
                    <th class="p-3 text-sm font-semibold !text-black dark:!text-gray-100">Illumination</th>
                    <td class="p-3 text-sm !text-black dark:!text-gray-100">@report.Illuminated</td>
                </tr>
                <tr class="!bg-gray-200 dark:!bg-gray-700 border-b border-gray-300 dark:border-gray-700"> <!-- Marking -->
                    <th class="p-3 text-sm font-semibold !text-black dark:!text-gray-100">Marking</th>
                    <td class="p-3 text-sm !text-black dark:!text-gray-100">@report.Marking</td>
                </tr>
                <tr class="!bg-white dark:!bg-gray-800 border-b border-gray-200 dark:border-gray-700"> <!-- Created -->
                    <th class="p-3 text-sm font-semibold !text-black dark:!text-gray-100">Report Created:</th>
                    <td class="p-3 text-sm !text-black dark:!text-gray-100">@report.CreationTime</td>
                </tr>
                <tr class="!bg-gray-200 dark:!bg-gray-700 border-b border-gray-300 dark:border-gray-700"> <!-- Updated -->
                    <th class="p-3 text-sm font-semibold !text-black dark:!text-gray-100">Report Updated:</th>
                    <td class="p-3 text-sm !text-black dark:!text-gray-100">@report.UpdatedTime</td>
                </tr>
                @if (report.GeometryGeoJson != null) // map
                {
                    <tr class="!bg-white dark:!bg-gray-800">
                        <td colspan="2" class="p-3 text-sm font-semibold !text-black dark:!text-gray-100">
                            <details class="cursor-pointer">
                                <summary class="text-blue-600 dark:text-blue-400">Map</summary>
                                <div class="w-full overflow-hidden rounded-xl mt-3 border border-gray-300 dark:border-gray-700">
                                    <div id="@mapId" class="w-full mx-auto mb-2" style="height:30dvh;width:100%;border-radius:0.75rem;overflow:hidden; z-index: 0"></div>
                                </div>
                                <script>
                                    //TODO: get generate map with geoJson script to work in loop
                                    var N100topo = L.tileLayer('https://cache.kartverket.no/v1/wmts/1.0.0/topo/default/webmercator/{z}/{y}/{x}.png', {
                                        maxZoom: 18,
                                        minZoom: 4,
                                        attribution: '&copy; <a href="https://cache.kartverket.no/">Kartverket</a>'
                                    })

                                    var S100topo = L.tileLayer('https://geodata.npolar.no/arcgis/rest/services/Basisdata/NP_Basiskart_Svalbard_WMTS_3857/MapServer/WMTS/tile/1.0.0/Basisdata_NP_Basiskart_Svalbard_WMTS_3857/default/default028mm/{z}/{y}/{x}', {
                                        maxZoom: 15,
                                        minZoom: 4,
                                        attribution: 'Map data &copy; <a href="https://geodata.npolar.no/">Norsk Polarinstitutt</a>'
                                    })

                                    var J100topo = L.tileLayer('https://geodata.npolar.no/arcgis/rest/services/Basisdata/NP_Basiskart_JanMayen_WMTS_3857/MapServer/WMTS/tile/1.0.0/Basisdata_NP_Basiskart_JanMayen_WMTS_3857/default/default028mm/{z}/{y}/{x}', {
                                        maxZoom: 16,
                                        minZoom: 4,
                                        attribution: 'Map data &copy; <a href="https://geodata.npolar.no/">Norsk Polarinstitutt</a>'
                                    })
                                   
                                    var map = L.map('@mapId', {
                                        layers: [N100topo, J100topo, S100topo],
                                    }).setView([58.14671, 7.9956], 17);
                                 
                                    var geojson = @Html.Raw(report.GeometryGeoJson);
                                    var geojsonLayer = L.geoJSON(geojson, {style: function (){ return{color: 'purple', weight: 6, opacity: 1} }}).addTo(map);

                                    map.fitBounds(geojsonLayer.getBounds());
                                </script>

                            </details>

                        </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>
}
