@using NRLObstacleReporting.db

@functions {
    public class obstacle
    {
    }
}
@{
    ViewData["Title"] = "View Reports";
    var reports = Localdatabase.GetDatabase();
}
@if (reports.Count == 0)
{
    <div class="text-center">
        <h1>No obstacles Registered</h1>
    </div>
}
else
{
    <div class="text-center">
        <h1> Registered reports:</h1>
    </div>
    
    IEnumerable<NRLObstacleReporting.Models.ObstacleCompleteModel> submittedReports =
        from Report in reports
        where !Report.IsDraft
        select Report;
    <div style="display: flex; flex-wrap: wrap; gap: 0;">
    @foreach (var obstacle in submittedReports)
    {
        <section>
        <div>
            <table class="center">
                <caption>Obstacle Report: @obstacle.GetHashCode()</caption>
                <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Response</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">Height</th>
                    <td>@obstacle.ObstacleHeightMeter</td>
                </tr>
                <tr>
                    <th scope="row">Coordinates</th>
                    <td>@obstacle.GeometryGeoJson</td>
                </tr>
                <tr>
                    <th scope="row">Type</th>
                    <td>@obstacle.ObstacleType</td>
                </tr>
                <tr>
                    <th scope="row">Illuminated</th>
                    <td>@obstacle.ObstacleIlluminated</td>
                </tr>
                <tr>
                    <th scope="row">Description</th>
                    <td>@obstacle.ObstacleDescription</td>
                </tr>
                <tr>
                    <th scope="row">Name</th>
                    <td>@obstacle.ObstacleName</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="h-dvh overflow-hidden rounded-xl">
            <section>
                <div id="@obstacle.GetHashCode()" style="height: 20dvh; width: 20dvw; border-radius: 0.75rem; overflow: hidden; border: 1px solid #e5e7eb;" >
                </div>
            </section>
        </div>
        </section>
        <script>
                var map = L.map('@obstacle.GetHashCode()').setView([58.14671, 7.9956], 13);
                L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth_dark/{z}/{x}/{y}.png', {
                    maxZoom: 19,
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                }).addTo(map);

                var geojson = @Html.Raw(obstacle.GeometryGeoJson);
                var geojsonLayer =  L.geoJSON(geojson)
                geojsonLayer.addTo(map);
        </script>
    }
    </div>
}

  
