@model NRLObstacleReporting.Models.ObstacleCompleteModel
@{
    ViewData["Title"] = "Edit Draft";
}
<div>
    <form method="post" asp-action="SaveEditedDraft">
        <table class="center">
            <caption>Obstacle Report: @Model.GetHashCode()</caption>
            <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Response</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Height</th>
                <td><input asp-for="ObstacleHeightMeter" value="@Model.ObstacleHeightMeter"/></td>
            </tr>
            <tr>
                <th scope="row">Coordinates</th>
                <td><input asp-for="ObstacleCoordinates" value="@Model.ObstacleCoordinates"/></td>
            </tr>
            <tr>
                <th scope="row">Type</th>
                <td><input asp-for="ObstacleType" value="@Model.ObstacleType"/></td>
            </tr>
            <tr>
                <th scope="row">Illuminated</th>
                <td><input asp-for="ObstacleIlluminated" value="@Model.ObstacleIlluminated"/></td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td><input asp-for="ObstacleDescription" value="@Model.ObstacleDescription"/></td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td><input asp-for="ObstacleName" value="@Model.ObstacleName"/></td>
            </tr>
            </tbody>
        </table>
        <button type="submit" formaction="/Obstacle/SaveEditedDraft">Save draft</button>
    </form>
</div>