@model NRLObstacleReporting.Models.ObstacleCompleteModel
@{
    ViewData["Title"] = "Edit Draft";
}
<div>
    <form method="post" asp-action="SaveEditedDraft">
        <table class="center">
            <caption>Obstacle Report: @Model.GetHashCode()</caption>
            <thead>
            <tr>
                <th scope="col">Data</th>
                <th scope="col">Response</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Height</th>
                <td><input asp-for="HeightMeter" value="@Model.HeightMeter"/>
                    <span asp-validation-for="HeightMeter"></span></td>
            </tr>
            <tr>
                <th scope="row">Coordinates</th>
                <td><input asp-for="GeometryGeoJson" value="@Model.GeometryGeoJson" />
                    <span asp-validation-for="GeometryGeoJson"></span></td>
            </tr>
            <tr>
                <th scope="row">Type</th>
                <td><input asp-for="ObstacleType" value="@Model.ObstacleType"/>
                    <span asp-validation-for="ObstacleType"></span></td>
            </tr>
            <tr>
                <th scope="row">Illuminated</th>
                <td><input asp-for="Illuminated" value="@Model.Illuminated"/>
                    <span asp-validation-for="Illuminated"></span></td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td><input asp-for="Description" value="@Model.Description"/>
                    <span asp-validation-for="Description"></span></td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td><input asp-for="Name" value="@Model.Name"/>
                    <span asp-validation-for="Name"></span></td>
            </tr>
            </tbody>
        </table>
        <input type="hidden" asp-for="ObstacleId" value="@Model.ObstacleId"/>
        <button type="submit" formaction="/Obstacle/SaveEditedDraft">Save draft</button>
        <button type="submit" formaction="/Obstacle/SubmitDraft">Submit</button>
    </form>
</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
