@model NRLObstacleReporting.Models.ObstacleCompleteModel
@{
    ViewData["Title"] = "Report Overview";
}

<div class="text-center">
    <h1 class="display-4">Report Overview</h1>
</div>
@Html.AntiForgeryToken()
<div class="rounded-sm border border-gray-500 flex flex-col justify-center space-y-8 mt-10 w-full">
    <table class="w-full table-fixed border-collapse">
        <tbody>
        <tr class="bg-gray-50 w-full">
            <th class="p-3 text-sm font-bold tracking-wide text-left whitespace-nowrap "> Id: @Model.ObstacleId</th>
            <th class="p-3 text-sm font-bold tracking-wide text-left whitespace-nowrap"> </th>
        </tr>
        <tr>
            <th class="p-3 text-sm font-semibold tracking-wide text-left whitespace-nowrap"> Height </th>
            <td class="p-3 text-sm font-normal tracking-wide text-left whitespace-nowrap">@Model.HeightMeter</td>
        </tr>
        <tr class="bg-gray-50 w-full">
            <th class="p-3 text-sm font-semibold tracking-wide text-left whitespace-nowrap">Type</th>
            <td class="p-3 text-sm font-normal tracking-wide text-left whitespace-nowrap">@Model.Type</td>
        </tr>
        <tr >
            <th class="p-3 text-sm font-semibold tracking-wide text-left whitespace-nowrap">Name</th>
            <td class="p-3 text-sm font-normal tracking-wide text-left whitespace-nowrap">@Model.Name</td>
        </tr>
        <tr class="bg-gray-50 w-full">
            <th class="p-3 text-sm font-semibold tracking-wide text-left whitespace-nowrap">Description</th>
            <td class="p-3 text-sm font-normal tracking-wide text-left whitespace-nowrap">@Model.Description</td>
        </tr>
        <tr >
            <th class="p-3 text-sm font-semibold tracking-wide text-left whitespace-nowrap">Illumination</th>
            <td class="p-3 text-sm font-normal tracking-wide text-left whitespace-nowrap">@Model.Illuminated</td>
        </tr>
        <tr class="bg-gray-50 w-full">
            <th class="p-3 text-sm font-semibold tracking-wide text-left whitespace-nowrap">Marking</th>
            <td class="p-3 text-sm font-normal tracking-wide text-left whitespace-nowrap">@Model.Marking</td>
        </tr>
        <tr>
            <th class="p-3 text-sm font-semibold tracking-wide text-left whitespace-nowrap">Report Created:</th>
            <td class="p-3 text-sm font-normal tracking-wide text-left whitespace-nowrap">@Model.CreationTime</td>
        </tr>
        <tr class="bg-gray-50 w-full">
            <th class="p-3 text-sm font-semibold tracking-wide text-left whitespace-nowrap">Report Updated:</th>
            <td class="p-3 text-sm font-normal tracking-wide text-left whitespace-nowrap">@Model.UpdatedTime</td>
        </tr>
        </tbody>
    </table>
</div>

@if (Model?.GeometryGeoJson != null)
{
    <div class="overflow-hidden mx-auto mt-0">
        <section>
            <div class="mx-auto "
                 id="map" style="height: 50dvh; width: 100%;  overflow: hidden; border: 1px solid #e5e7eb; z-index: 0">
            </div>
        </section>
    </div>
}

@section Scripts {
    @* Script to add a map to the view *@
    @if (Model?.GeometryGeoJson != null)
    {
        <link rel="stylesheet" href="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.css"/>
        <script src="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script>
        <script src="~/js/MapScripts/GeoJsonExtractCoordinates.js" asp-append-version="true"></script>
        <script src="~/js/MapScripts/GenerateMap.js" asp-append-version="true"></script>
        <script>
            let map = GenerateMap(17);

            let geojsonCoordinates = @Html.Raw(Model.GeometryGeoJson)
            // var geojsonData = JSON.parse(geojsonCoordinates);
            let geojsonLayer = L.geoJSON(geojsonCoordinates);
            geojsonLayer.addTo(map);

            map.setView(GeoJsonExtractCoordinates(geojsonCoordinates));
        </script>
    }
}
